<div class="col-xs-10">

<div class="page-header">
  <h1><%= @flyer.title %> <small><%= @flyer.address %> </small></h1>
</div>


<%= image_tag @flyer.image %>
<h5><%= @flyer.description %> </h5>
<h5><%= @flyer.contact %> </h5>

<p>
<button type="button" class="btn btn-lg btn-info">Create PDF</button>
</p>
</div>